body{
    background-color:#190B07;
    color: white;
    font-size: 3em;
}

#showMilli {
    text-align: center;
}

#clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}